[Unit]
Description=The gitolite container

[Container]

# Target repo and tag
Image=localhost/iolet/gitolite:3.6.13-alpine3.20.3

# Expose ports to access
PublishPort=8022:8022/tcp

# Setup hostname for more verbose
HostName=git.example.com

# Pass admin public key in env file (make sure read only by owner)
EnvironmentFile=$HOME/.ssh/gitolite.env

# Mount volumes to persist data
Mount=type=volume,src=gitolite-keys,dst=/etc/ssh/keypair.d,rw=true
Mount=type=volume,src=gitolite-home,dst=/var/lib/git,rw=true

# If podman is too old (less 4.6), the EnvironmentFile and Mount are not
# supported in quadlet, use Environment and Volume instead. For more details,
# see https://github.com/containers/quadlet/blob/main/docs/Fileformat.md#container-files

# Pass admin public key (old)
#Environment="ADMIN_KEY={{ admin_public_key }}"

# Mount volumes to persist data (old)
#Volume=gitolite-home.volume:/var/lib/git/:rw
#Volume=gitolite-keys.volume:/etc/ssh/keypair.d/:rw

# Disables the container processes from gaining additional privileges via
# things like setuid and file capabilities
NoNewPrivileges=true

# Add capabilities to support rootless in container
# see https://github.com/opencontainers/runc/discussions/4229#discussioncomment-8949043
# and https://www.man7.org/linux/man-pages/man7/capabilities.7.html
AddCapability=CAP_CHOWN
AddCapability=CAP_DAC_OVERRIDE
AddCapability=CAP_DAC_READ_SEARCH
AddCapability=CAP_KILL
AddCapability=CAP_SETGID
AddCapability=CAP_SETUID

[Install]
WantedBy=default.target
